openweathermap.api-key=paste_your_key_here

# Example: https://dev-xxxxx.us.auth0.com/
AUTH0_ISSUER_URI=https://YOUR_TENANT.auth0.com/
AUTH0_AUDIENCE=https://weather-api
AUTH0_ALLOWED_EMAILS=careers@fidenz.com,your.email@gmail.com
